body{
    font-family:  "Source Sans Pro", Helvetica, sans-serif !important; 
     
    #navbar{
        display: flex;
        justify-content: end;
        height: 3rem;
        margin: 0rem 0.5rem;
        position: sticky;
        top: 0.5rem;
        z-index: 1;

        button{
            background: #ffffff75;
            border: none;
            border-radius: 0.4rem; 
            padding: 0.8rem 1rem;
            right: 0rem;
            
        
            img{
                height: 1.5rem;
                width: 1.8rem;
            }
        }
    }
    

    .title{
        margin: 1rem;
            a{
                align-items: center;
                background-color: transparent;
                border: none;
                display: flex;
                gap: 0.5rem;
                margin-bottom: 2rem;

                img{
                    height: 2rem;
                    width: 2.2rem;
                }

                h2{
                    color: #444444;
                    font-weight: 700;
                    font-size: 1rem;
                    letter-spacing: 0.35em;
                }
            } 
    }
    .paragraph{
        margin: 1rem 1rem 3rem 1rem;
        color: #444444;

            h1{
                
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 2.5rem;
                margin-bottom: 1rem;
            }
            p{
                line-height: 1.9rem;
            }
            a{
                border-bottom: 1px dotted #444444;
            }
            a:active{
                color: #fe7777;
            }
    }
    
    .articles{
        .items{
            height: 17rem;
            margin: 1rem;
            margin-bottom: 1rem;
            position: relative;
            
                img{
                    border-radius: 0.4rem;
                    height: 100%;
                    object-fit: cover;   
                    position: relative; 
                    width: 100%;    
                    }
                
                .article{
                    border-radius: 0.4rem;
                    color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    position: absolute;
                    text-align: center;
                    top: 0rem;

                
                    h2{
                        font-weight: bold;
                        font-size: 1rem;
                        letter-spacing: 0.35em;
                    }
                    p{
                        font-size: 0.9rem;
                        line-height: 1.5rem;
                        padding: 1rem;
                    } 
                } 
                    
                
        }  
        
        .item-1{
            .art-1{
                background-color: rgb(26,161,62, 0.8);
            }
        }
        .item-2{
            .art-2{
                background-color: rgb(250,133,34,0.8);
            }
        }
        .item-3{
            .art-3{
                background-color: rgb(198,191,251,0.8);
            }
        }
        .item-4{
            .art-4{
                background-color: rgb(89,177,244,0.8);
            }
        }
        .item-5{
            .art-5{
                background-color: rgb(0,95,180,0.8);
            }
        }
        .item-6{
            .art-6{
                background-color: rgb(248,83,36,0.8);
            }
        }
        .item-7{
            .art-7{
                background-color: rgb(213,166,189,0.8);
            }
        }
        .item-8{
            .art-8{
                background-color: rgb(106,50,159,0.8);
            }
        }
        .item-9{
            .art-9{
                background-color: rgb(244,23,120,0.8);
            }
        }
        .item-10{
            .art-10{
                background-color: rgb(234,209,220,0.8);
            }
        }
        .item-11{
            .art-11{
                background-color: rgb(180,95,6,0.8);
            }
        }
        .item-12{
            .art-12{
                background-color: rgb(224,102,102,0.8);
            }
        }
    }
   
    footer{
        background-color: #eeeeee;
        padding: 2rem 1rem 2rem 1rem;
            h2{
                color: #444444;
                font-weight: 800;
                font-family: sans-serif;
                font-size: 0.9rem;
                letter-spacing: 0.35em;
                margin: 2rem 0rem 2rem 0rem;
            }
            
            .buttons{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            
                    button{
                        border:0.1rem solid #b8b8b8;
                        border-radius: 0.2rem;
                        height: 2.8rem;
                    }
            }

            .container-input{
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;


                    input{
                        background-color: transparent;
                        border: transparent;
                        border-bottom: 0.1rem solid #b8b8b8;
                        font-size: 1rem;
                        margin-bottom: 1rem;
                        outline: none;
                        padding-bottom: 0.6rem;
                    }
                    input:focus,input:active {
                        border-color: transparent;
                        border-bottom: 0.1rem solid #fe7777;
                    }
                    
                    button{
                        background-color: #444444;
                        border: none;
                        border-radius: 0.3rem;
                        color: #ffffff;
                        font-family: sans-serif;
                        font-size: 0.7rem;
                        font-weight: 700;
                        letter-spacing: 0.35em;
                        margin-top: 1rem;
                        padding: 1rem;
                    }
                    button:active{
                        background-color: #fe7777;
                    }
            }
            ul{
                color: #b8b8b8;
                
                    li{
                        line-height: 2rem;
                        font-size: 0.9rem;

                            a{
                                border-bottom: 0.1rem dotted #b8b8b8;
                            }
                            a:active{
                                color: #fe7777;
                            }
                    }
            }
            
    }

    @media screen and (min-width:481px){
        .articles{
            display: grid;
            gap: 1.2rem;
            grid-template-columns: 1fr 1fr;
            margin: 0rem 1rem;
            margin-bottom: 6rem;
                .items{
                    height: 12.5rem;
                    margin: 0;
                    
                        .article{
                            p{
                                line-height: 1.3rem;
                                margin: 0rem 0.8rem;
                                margin-top: 0.5rem;
                                padding: 0.1rem;
                            }
                        }
                }
        }
        footer{
            .box-2{
                .container-input{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(3, 1fr);
                        input{
                            &#name{
                                    width: 12.5rem;
                                
                            }
                            &#message{
                                grid-column: 1 / 3 ;
                                padding: 0rem 0.4rem; 
                            }
                        }
                        button{
                            width: 6rem;
                            grid-column-start: 1;
                        }
                }

            }
            ul{
                display: flex;
                justify-content: space-between;
                height: 1rem;
            
                    li{
                        font-size: 0.8rem;
                        line-height: 1rem;
                                
                                &#li-2{
                                    border: 0.1rem solid #b8b8b8;
                                    border-top: none;
                                    border-bottom: none;
                                    padding: 0rem 1rem;
                                }    
                    }
            }
        }
    }

    @media screen and (min-width:769px){
        #navbar{
            margin-right: 1.5rem;
        }
        .title{
            margin: 3rem;
        }
        .paragraph{
            margin: 1rem 3rem 3rem;
            h1{
                font-size: 2.4rem;
                line-height: 3.5rem;
            }
        }
        .articles{
            margin: 0rem 3rem 6rem;
                .items{
                    height: 40vh;
                    margin: 0;
                }
        }
        footer{
            display: grid;
            grid-column-gap: 2rem;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 21rem 5rem;
            padding: 2rem;
            .box-1{
                grid-column-start: 2;
                    .buttons{
                        gap: 1.5rem;
                        padding-right: 2rem;
                        gap: 1.5rem;
                    }    
            }
            .box-2{
                grid-column-start: 1;
                grid-row-start: 1;
            }
        }  
    }
    @media screen and (min-width:1025px){
        
        #navbar{
            button{
                cursor: pointer;
            }
        }
        .title{
            h2{
                cursor: pointer;
            }
        }
        
        a{
          cursor: pointer;
        }
        
        
        .articles{
            grid-template-columns: 1fr 1fr 1fr;
            .items{
                height: 17rem;
            }
        }
        footer{
            .box-1{
                .buttons{
                    button{
                        cursor: pointer;
                        transition-duration: 0.4s;
                    }
                    button:hover{
                        
                    }
                }
            }
            .box-2{
                .container-input{
                    input{
                        #name{
                            width: 18rem;
                        }
                    }
                    button{
                        cursor: pointer;
                        transition-duration: 0.4s;
                    }
                    button:hover{
                    background-color: #fe7777;  
                    } 
                }
                
            }
            ul{
                display: flex;
                justify-content: flex-start;
                height: 1rem;
            
                    li{
                        padding: 0rem 1rem;
                        font-size: 0.8rem;
                        line-height: 1rem;
                                
                            &#li-1{
                                padding-left: 0rem;
                            }
                            &#li-2{
                                border: 0.1rem solid #b8b8b8;
                                border-top: none;
                                border-bottom: none;
                                padding: 0rem 1rem;
                            }    
                            a{
                                cursor: pointer;
                            }
                    }
            }
        } 
    }   
    
    @media  screen and (min-width:1201px) {
        #navbar{
            margin-top: 2.8rem;
                button{
                    img{
                        height: 2rem;
                        width: 2.5rem;
                    }
                }
        }
        .title{
            margin: 3rem 12rem 3rem;
                a{
                    h2{
                        font-size: 1.2rem;
                    }
                }
        }
        .paragraph{
            margin: 1rem 12rem 3rem;
                h1{
                    margin-bottom: 4.5rem;
                    font-size: 2.8rem;
                }
                p{
                    font-size: 1.2rem;
                }
        }
        .articles{
            margin: 0rem 12rem 10rem;
            gap: 3rem;
                 .items{
                    height: 45vh;
                    width: 25vw;
                 }
        }
        footer{
            padding: 3rem 12rem;
                .box-1{
                    h2{
                        font-size: 1rem;
                    }
                }
                .box-2{
                    h2{
                        font-size: 1rem;
                    }
                    .container-input{
                                input{
                                    &#name{
                                        width: 17.5rem;
                                    }
                                }
                    }
                }
                    
                    
                
        }
    }
}